@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}


/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*

/*HEADER*/

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(213, 252, 121, 0.5) 0%, rgba(152, 231, 163, 0.507) 100%), url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.logo {
    position: relative;
    top: 30px;
    left: 30px;
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.menu-navegacion>.logo2 {
    position: fixed;
    align-items: center;
    width: 5px;
    height: 1px;
    margin-right: 120px;
    top: 0;
    right: 0;
    margin-top: -15px;
}

.hamburguer {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transform: translate(110%);
    transition: 0.5s;
}

.menu-navegacion,
a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.menu-navegacion>a:hover {
    background: #ffffff;
    color: black;
    padding: 10px;
    width: 100%;
    height: 45px;
    text-align: center;
    transition: 0.3s;
}

.spread {
    transform: translate(0);
    transition: 0.5s;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: center;
}

.copy {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}


/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
NUESTROS SERVICIOS*/

.subtitulo {
    text-align: center;
    font-size: 40px;
    color: #555555;
    margin-bottom: 30px;
}

#inicio hr {
    width: 400px;
    height: 5px;
    background: #fff;
    margin-top: 5px;
}

.contenedor-servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio>img {
    width: 40%;
}

.checklist-servicio {
    width: 45%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: #41e6a6;
}

.number {
    display: inline-block;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}


/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
GALERIA*/

.gallery {
    background: url(../img/img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.gallery .fondo {
    background: rgba(0, 0, 0, 0.7);
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    width: calc(30% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 8px #000;
}

.gallery h2 {
    color: #fff;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.2s ease-in-out;
}

.show {
    transform: scale(1);
}

.agregar-imagen {
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40x;
    cursor: pointer;
}

.showImage {
    transform: scale(1);
}

.experts {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experts img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 40px 0 40px;
}

.experts .n-expert {
    text-align: center;
    color: #41e6a6;
    background: var(--white);
    width: 150px;
    border-radius: 10px;
    margin-left: 120px;
}


/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
FOOTER*/

footer {
    background: var(--black);
    padding-bottom: 0.1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    margin-left: 70px;
    color: #fff;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: calc(30% -10);
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-right: 35px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: white;
    color: var(--black);
}

.social-media-icon i {
    font-size: 30px;
    line-height: 58px;
}

.copyr {
    text-align: center;
    color: white;
    margin-top: 15px;
}


/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
RESPONSIVE*/

@media screen and (max-width:800px) {
    .menu-navegacion {
        width: 50vw;
    }
    .titulo {
        font-size: 40px;
    }
    .contenedor-servicio img {
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio {
        width: 80%;
    }
    .service {
        margin-bottom: 30px;
    }
    .agregar-imagen {
        width: 80%;
    }
    .img-galeria {
        width: 45%;
    }
    .experts img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        cursor: pointer;
        margin: 0 10px 0 30px;
    }
    .experts .n-expert {
        text-align: center;
        color: #41e6a6;
        background: var(--white);
        width: 150px;
        border-radius: 10px;
        margin-left: 50px;
    }
}

@media screen and (max-width:500px) {
    .menu-navegacion {
        width: 65vw;
    }
    .agregar-imagen {
        width: 95%;
    }
    .hamburguer {
        top: 20px;
        right: 20px;
    }
    .titulo {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .img-galeria {
        width: 95%;
    }
    .experts img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
        margin: 0 5px 0 10px;
    }
    .experts .n-expert {
        text-align: center;
        color: #41e6a6;
        background: var(--white);
        width: 150px;
        border-radius: 10px;
        margin-left: 0;
    }
    .social-media-icon {
        display: inline-block;
        margin-left: 20px;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }
    .social-media-icon i {
        font-size: 25px;
        line-height: 50px;
    }
}

@media screen and (max-width:300px) {
    .social-media-icon {
        margin-left: 0;
    }
    .social-media-icon i {
        font-size: 25px;
        line-height: 40px;
    }
    .titulo {
        font-size: 15px;
    }
    .subtitulo {
        font-size: 15px;
    }
    .brand {
        font-weight: 300;
        font-size: 30px;
    }
    .social-media {
        width: 100%;
    }
}